<div class="background-usuario">
</div>

<div class="container">
  <main class="usuario-logado">
    <section class="usuario-menu">
      <div class="box-usuario">
        <div class="usuario-nome-content">
          <h3 class="usuario-text">Seja Bem-Vindo</h3>
          <h2 class="usuario-nome">{{dados}}</h2>
        </div>
        <div class="opcoes-menu">
          {{link}}
          <a href="{{URL}}/admin/logout">
            <button class="botao-sair" type="button">Deslogar-se</button>
          </a>
        </div>
      </div>
    </section>
  </main>
</div>