@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Resets Padrão */
:root {
  --primary-color: #1b1b1b;
  --black-color: #000000;
  --paragraph-color: #333333;
  --secundary-color: #ffffff;
  --orange-color: #ff7400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  overflow-x: hidden;
}

body {
  background-color: var(--black-color);
  color: var(--secundary-color);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--secundary-color);
}

img {
  max-width: 100%;
  display: block;
}

.star {
  color: yellow;
}

.titulo-padrao {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.titulo-padrao::after,
.titulo-padrao::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 2px;
  background-color: var(--orange-color);
}

.titulo-secundario {
  display: flex;
  width: max-content;
  flex-direction: column;
  justify-content: flex-start;
  text-transform: uppercase;
  padding: 20px 0 10px 0;
  margin-top: 80px;
}
.titulo-secundario::after {
  content: "";
  display: inline-block;
  width: 70%;
  height: 2px;
  background-color: var(--orange-color);
}

.alerta-login {
  padding: 10px 45px;
  border-radius: 4px;
}

.alerta-login span {
  color: var(--secundary-color);
  font-size: 1rem;
  color: #000000;
}

.alert-danger {
  background-color: rgb(173, 100, 100);
}

.alert-success {
  background-color: rgb(70, 70, 165);
}

.opcoes-menu .menu-opcao.danger {
  background-color: var(--orange-color);
  border: 1px solid transparent;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #242424;
}
::-webkit-scrollbar-thumb {
  background-color: #5a5a5a;
}

/* 

Estilos Header / Menu Navegação

*/
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.reset {
  display: flex;
  align-items: center;
  text-align: center;
}

header {
  background-color: var(--primary-color);
  width: 100%;
  padding: 10px 0px;
  position: fixed;
  z-index: 4;
}

header ul {
  display: flex;
  gap: 15px;
  font-weight: bold;
}

header .header-link a:hover {
  color: var(--orange-color);
  transition: 0.3s;
}

/* header .login {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  letter-spacing: 2px;
  color: var(--orange-color);
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
} */

header .header-menu1 {
  gap: 50px;
}
header .header-menu2 {
  gap: 20px;
}

header .container {
  justify-content: space-between;
}

/* 

Estilos Imagem Background / Carrosel

*/
.carrossel {
  width: 100%;
  height: 100vh;
}

.slide {
  position: relative;
}

.carrossel-content {
  min-width: 100%;
  position: relative;
}

.carrossel-content img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.carrossel-content .imagem-info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.imagem-info h2 {
  font-size: 1.525rem;
  font-weight: 500;
  text-transform: uppercase;
}

.imagem-info a {
  background-color: var(--secundary-color);
  color: var(--black-color);
  font-size: 1.125rem;
  font-weight: bold;
  padding: 5px 15px;
  width: max-content;
  border-radius: 8px;
  text-transform: uppercase;
  transition: 0.3s;
}

.imagem-info a:hover {
  background-color: var(--orange-color);
}

.carrossel-content {
  display: flex;
  width: fit-content;
  scroll-behavior: smooth;
}

.carrossel-button {
  font-size: 2.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--secundary-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carrossel-button:hover {
  color: var(--orange-color);
}

.carrossel-button:first-of-type {
  left: 30px;
}

.carrossel-button:last-of-type {
  right: 30px;
}

.dots-content {
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 20px;
}

.dot {
  display: inline-block;
  width: 40px;
  height: 4px;
  background-color: var(--secundary-color);
  border-radius: 4px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background-color: var(--orange-color);
}

/* 

Seção Partidas / Noticias / Ligas em Destaque

*/

/* Ligas Champions / Europa */
.champions {
  background: url("../img/champions.png") top center / cover no-repeat;
}

.europa {
  background: url("../img/europa.jpg") center center / cover no-repeat;
}

.opacity {
  filter: opacity(30%);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.overlay.bg {
  background-color: var(--black-color);
  height: 80px;
  opacity: 0.2;
}

.overlay.champ {
  background-color: #001897;
  filter: saturate(2);
}

.overlay.euro {
  background-color: #d96300;
  filter: saturate(2);
}

/* Fim Ligas */

/* Partidas / Tabela */
.partidas {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partida-content {
  width: 280px;
  height: 220px;
  background-color: #383838;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  padding: 10px;
  position: relative;
}

.partida-content .liga {
  background-color: var(--primary-color);
  max-width: fit-content;
  border-radius: 14px;
  font-size: 0.9rem;
  padding: 3px 40px 3px 10px;
}

.partida-data {
  font-size: 0.9rem;
  color: #c0c0c0;
}

.partida-casa,
.partida-visitante {
  display: flex;
  align-items: center;
  gap: 10px;
}

.partida-casa h2,
.partida-visitante h2 {
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
}

.imagem-xd {
  width: 35px;
  border-radius: 50%;
}

.imagem-menor {
  width: 55px;
  border-radius: 50%;
}

.partida-ver {
  border: 1px solid var(--secundary-color);
  max-width: max-content;
  background-color: var(--primary-color);
  border-radius: 14px;
  color: var(--secundary-color);
  padding: 5px 15px;
}

.partida-ver:hover {
  color: var(--orange-color);
  border-color: var(--orange-color);
  transition: 0.4s;
}

/* 

Noticias Section

*/

.noticias {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.noticia-main {
  background: url("../img/foden.png") center center / cover no-repeat;
  width: 65%;
  height: 550px;
  border-radius: 14px;
  border-start-start-radius: 0;
  position: relative;
}

.noticia-main .info {
  position: absolute;
  bottom: 20px;
  left: 10px;
  display: flex;
  flex-direction: column;
}

.noticia-main .info h2 {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: var(--secundary-color);
}

.noticia-main .info .noticia-horario {
  font-size: 0.9rem;
  color: #ccc;
}

.ultimas-noticias {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}

.noticia-secundary {
  width: 360px;
  height: 160px;
  background-color: var(--paragraph-color);
  display: flex;
  border-radius: 14px;
  padding: 0 0 0 20px;
}

.noticia-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.noticia-texto h2 {
  margin-top: 10px;
}

.noticia-texto span {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.noticia-texto h2 {
  text-transform: uppercase;
  font-size: 1.125rem;
}

.noticia-texto p {
  font-size: 0.7rem;
  color: #ccc;
}

.noticia-secundary img {
  width: 200px;
  height: 160px;
  border-radius: 14px;
}

/* Fim Noticias */

/*

/*

Melhores Jogadores Section

*/

.jogadores-section {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.jogadores-cards {
  display: flex;
  justify-content: space-between;
}

.jogadores-content {
  width: 380px;
  height: 600px;
  background-color: var(--secundary-color);
  border-radius: 14px;
  overflow: hidden;
  position: relative;
}

.effect01::after,
.effect02::after,
.effect03::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
}
.effect01::after {
  background: linear-gradient(
    to bottom,
    rgba(7, 18, 124, 0.01) 0%,
    rgba(7, 18, 124, 0.25) 25%,
    rgba(7, 18, 124, 0.75) 75%,
    rgba(7, 18, 124, 0.95) 100%
  );
}
.effect03::after {
  background: linear-gradient(
    to bottom,
    rgba(26, 116, 35, 0.01) 0%,
    rgba(26, 116, 35, 0.25) 25%,
    rgba(26, 116, 35, 0.75) 75%,
    rgba(26, 116, 35, 0.95) 100%
  );
}
.effect02::after {
  background: linear-gradient(
    to bottom,
    rgba(222, 73, 9, 0.01) 0%,
    rgba(222, 73, 9, 0.25) 25%,
    rgba(222, 73, 9, 0.75) 75%,
    rgba(222, 73, 9, 0.95) 100%
  );
}

.cards-liga {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  z-index: 3;
}

.jogador-img {
  width: 100%;
  height: 100%;
}

.jogador-img img {
  height: 100%;
}

.jogador-img:hover img {
  transform: scale(1.1);
}

/* Fim Jogadores */

/* 

Melhores Momentos / Videos

*/

.melhores-momentos {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 20px;
}

.momentos-content {
  width: 100%;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.momentos-content::-webkit-scrollbar {
  display: none;
}

.videos {
  min-width: 320px;
  height: 300px;
  overflow: hidden;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
}

.videos h2 {
  font-size: 1.125rem;
  font-weight: normal;
}
.videos p {
  font-weight: 100;
  font-size: 0.9rem;
}

.btn-left,
.btn-right {
  position: absolute;
  background-color: var(--primary-color);
  color: var(--secundary-color);
  font-weight: bold;
  font-size: 1.125rem;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  padding: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.btn-left {
  left: 0;
}

.btn-right {
  right: 0;
}

.btn-left:hover,
.btn-right:hover {
  background-color: var(--orange-color);
}
/* Fim Melhores momentos */

/* 

/* 

Footer 

*/
footer {
  width: 100%;
  color: var(--secundary-color);
}

.footer-content {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

.footer-list h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

.footer-list li:first-child {
  margin-bottom: 10px;
}

.footer-list a {
  font-size: 0.9rem;
  color: var(--secundary-color);
  font-weight: 200;
}

#footer-copyright {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 100;
  padding: 1rem 0;
  background-color: var(--primary-color);
  border-top: 1px solid #383838;
}

@media screen and (max-width: 768px) {
  #footer-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer-content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}

/* Fim Footer Style */

/* Pagina de Login / Registro */
.container-tela-login {
  width: 100vw;
  height: 100vh;
  display: flex;
}
#login,
#registro {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.alternativo-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-content {
  width: 50vw;
  height: 100%;
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.login-imagem {
  width: 50vw;
  height: 100%;
  background-color: var(--orange-color);
  background: url("../img/loginbg.svg") center center / cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-imagem .overlay {
  background-color: var(--black-color);
  opacity: 0.5;
}

.login-imagem .imagem-content {
  background-color: var(--primary-color);
  border-radius: 14px;
  width: 350px;
  height: 250px;
  z-index: 1;
  box-shadow: 6px 6px 10px var(--black-color);
}

.login-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 0 20px;
}

.login-popup li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.login-popup h5 {
  font-size: 0.8rem;
  font-weight: normal;
}

.login-popup .star {
  color: var(--orange-color);
  font-size: 2rem;
  min-width: max-content;
}

.texto-form {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--orange-color);
  text-transform: uppercase;
}

.page-form input {
  background-color: var(--paragraph-color);
  border-radius: 8px;
  border: 1px solid var(--paragraph-color);
  width: 300px;
  padding: 20px 10px;
  color: var(--secundary-color);
}

.page-form input:focus {
  outline: none;
  border: 1px solid #1d1d1d;
}

.page-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.page-form .form-group {
  display: flex;
  flex-direction: column;
}
.page-form .buttons-admin {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.botao-form {
  background-color: var(--orange-color);
  color: var(--secundary-color);
  cursor: pointer;
  font-weight: bold;
  font-size: 1.125rem;
  border-radius: 8px;
  width: 100%;
  border: none;
  padding: 10px 0;
}

.h2-simples {
  font-size: 0.9rem;
  font-weight: normal;
  margin-top: 20px;
}

.login-separador {
  border-bottom: 1px solid var(--orange-color);
  padding: 0 0 15px 0;
}

.h2-simples .texto-login {
  font-size: 0.9rem;
  color: var(--secundary-color);
  font-weight: bold;
  cursor: pointer;
}

.h2-simples .texto-login:hover {
  color: #d96300;
  transition: 0.3s;
}

/* 

Champions League / Page

*/

.bg-padrao::before {
  content: "";
  background: url("../img/curvetexture.png") center center / cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.06;
  z-index: -2;
}

.champions-data-jogos {
  min-width: 180px;
  height: 50px;
  border-radius: 14px;
  background-color: var(--primary-color);
  color: var(--secundary-color);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.champions-data-jogos:hover {
  background-color: var(--orange-color);
}

.champions-data-jogos h3 {
  font-weight: 600;
  font-size: 1rem;
}

.champions-content {
  width: 100%;
  display: flex;
  gap: 10px;
}
.champions-controls {
  position: relative;
}

.champions-content {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.champions-content::-webkit-scrollbar {
  display: none;
}

.slide-config {
  width: 95%;
  margin: 0 auto;
}

.champions-data-jogos.active {
  background-color: var(--orange-color);
}

.secao-data-jogos {
  margin-top: 50px;
}

.partida-visitante,
.partida-casa {
  width: 100%;
}

.placar-tc {
  margin-left: auto;
  padding: 0 60px 0 0;
}

.style-line::after {
  content: "";
  width: 1px;
  height: 70px;
  background-color: var(--secundary-color);
  position: absolute;
  top: 115px;
  transform: translateY(-50%);
  right: 50px;
}

.partida-content .liga,
.partida-content .partida-data,
.partida-content .partida-ver {
  overflow: hidden;
}

.partida-status {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.champions-page .partidas {
  justify-content: initial;
  gap: 20px;
}
/* champions partidas */

/* Champions Noticias */
.noticia-champions .noticia-secundary {
  min-width: 360px;
}

/* CSS para transição */
.transition {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: none; /* Inicialmente escondido */
}

.partida-visible {
  opacity: 1;
  display: flex; /* Mostra a partida */
}

/* Champions / Estatisticas jogadores */
.estatisticas-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.estatistica-box {
  background-color: #383838;
  color: white;
  border-radius: 8px;
  min-width: 360px;
  z-index: 1;
}

.estatistica-box h2 {
  padding: 20px;
  background-color: #00004b;
}

.top-scorer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #b9b9b9;
}

.top-scorer:nth-child(1) {
  background-color: #00004b;
}

.top-scorer:last-child {
  border-bottom: none;
}

.position {
  width: 20px;
}

.player-info {
  display: flex;
  align-items: center;
}

.trt {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-color: red;
}

.left {
  display: flex;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
}

.team {
  font-size: 0.9em;
  color: #aaa;
}

.goals {
  font-size: 1.2em;
  font-weight: bold;
}

/* Css Grupos */
.group-container {
  background-color: #383838;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  height: 380px;
  padding: 20px 10px;
  color: var(--secundary-color);
  margin-bottom: 100px;
}

.group-header {
  text-align: start;
  /* margin-bottom: 20px; */
}

.group-table {
  width: 100%;
  border-collapse: collapse;
}

.group-table thead th {
  padding: 30px 0;
  color: #fff;
  font-size: 1.325rem;
}

.group-table th,
.group-table td {
  text-align: start;
  padding: 10px;
  font-size: 1.125rem;
}

.group-table td:first-child {
  padding: 10x 0;
}
.group-table tr:not(:last-child) {
  border-bottom: 2px solid #ddd;
}

.group-table tbody tr:first-child,
.group-table tbody tr:nth-child(2) {
  border-left: 2px solid var(--orange-color);
}

.group-table td img {
  width: 24px;
  height: 24px;
}

.grupo-content {
  display: flex;
  gap: 20px;
}

.grupos {
  position: relative;
}

.botao-estatisticas {
  position: absolute;
  top: 90px;
  right: 20px;
  display: flex;
  gap: 20px;
}

.botao-estatisticas button {
  color: var(--orange-color);
  border: 1px solid var(--orange-color);
  background-color: transparent;
  font-weight: bold;
  font-size: 1.125rem;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px 10px;
}

.botao-estatisticas button:hover {
  color: var(--secundary-color);
  background-color: var(--orange-color);
  transition: 0.3s ease-in-out;
}

/* Fim Pagina Champions */

/*

Pagina de Usuario

*/

.background-usuario {
  background: url("../img/usuariotexture.jpg") center center / cover no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
  opacity: 0.08;
}

.usuario-logado {
  width: 40%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.usuario-logado::before {
  content: "";
  width: 3px;
  height: 400px;
  background-color: var(--paragraph-color);
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.detalhes-perfil,
.comentarios {
  width: 60%;
  height: 600px;
  position: absolute;
  top: 0;
  right: 0;
}

.box-usuario {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.usuario-text {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 300;
}

.usuario-nome {
  font-size: 1.425rem;
  text-transform: capitalize;
}

.menu {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 20px;
}
.menu form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu .form-group {
  display: flex;
  flex-direction: column;
}

.menu .form-group input {
  background-color: transparent;
  border: 2px solid var(--paragraph-color);
  border-radius: 8px;
  width: 260px;
  padding: 15px 10px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
}

.menu .form-group input:focus {
  border: 1px solid var(--orange-color);
  outline: none;
}

.botao-sair {
  padding: 10px;
  width: 260px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: var(--paragraph-color);
  color: var(--secundary-color);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.botao-sair:hover {
  background-color: var(--secundary-color);
  color: var(--black-color);
}

.menu-opcao {
  background-color: transparent;
  border: 1px solid var(--secundary-color);
  border-radius: 8px;
  width: 260px;
  padding: 10px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.menu-opcao {
  font-size: 1.125rem;
  font-weight: bold;
}

.menu-opcao:hover {
  background-color: var(--orange-color);
  border: 1px solid transparent;
}

.opcoes-menu {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.meu-perfil-content > h3 {
  margin-bottom: 30px;
}

.meu-perfil-content h3 {
  text-transform: uppercase;
  font-size: 0.9rem;
  border-bottom: 1px solid #fff;
  width: fit-content;
}

.meu-perfil-content > .input-prev {
  margin-bottom: 15px;
}

.meu-perfil-content > .botao-perfil {
  margin-top: 15px;
}

.input-prev {
  width: 280px;
  height: 50px;
  border-radius: 8px;
  background: transparent;
  border: 1px solid #fff;
}

.botao-perfil {
  max-width: min-content;
  background-color: transparent;
  border: 1px solid var(--secundary-color);
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 0.9rem;
  color: var(--secundary-color);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.botao-perfil:hover {
  background-color: var(--orange-color);
}

/* Pagina comentarios */
.tabela-comentarios {
  max-width: 100%;
  border-spacing: 0;
}

.tabela-comentarios thead {
  background-color: var(--orange-color);
}

.tabela-comentarios thead th {
  padding: 10px 5px;
}

.tabela-comentarios tbody {
  background-color: #3d3d3d;
  text-align: center;
}

.tabela-comentarios tbody tr:nth-child(2n + 1) {
  background-color: var(--paragraph-color);
}

.tabela-comentarios tbody td {
  font-size: 1rem;
  padding: 10px 5px;
}

/* usuario admin page */

.comentarios {
  width: 60%;
  height: 600px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-edit-user {
  margin-top: 60px;
}
.comentarios p {
  font-size: 1.425rem;
}

.btn {
  padding: 5px;
  border: none;
  color: var(--secundary-color);
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: rgb(22, 22, 189);
}
.btn-secundary {
  background-color: rgb(182, 18, 18);
}

.login img {
  border-radius: 50%;
}

.login img:hover {
  background-color: var(--orange-color);
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}
