<div class="bg-padrao"></div>

<section class="partida-datas container">
  <h2 class="titulo-secundario">Champions League</h2>
  <div class="champions-controls">
    <nav class="champions-content slide-config">
      <button class="champions-data-jogos" data-date="15/03">
        <h3>QUA 15/03</h3>
      </button>
      <button class="champions-data-jogos" data-date="09/04">
        <h3>TER 09/04</h3>
      </button>
      <button class="champions-data-jogos" data-date="10/04">
        <h3>QUA 10/04</h3>
      </button>
      <button class="champions-data-jogos" data-date="16/04">
        <h3>TER 16/04</h3>
      </button>
      <button class="champions-data-jogos active" data-date="17/04">
        <h3>QUA 17/04</h3>
      </button>
      <button class="champions-data-jogos" data-date="07/05">
        <h3>ter 07/05</h3>
      </button>
      <button class="champions-data-jogos" data-date="08/05">
        <h3>QUA 08/05</h3>
      </button>
      <button class="champions-data-jogos" data-date="01/06">
        <h3>SÁB 01/06</h3>
      </button>
    </nav>
    <button class="btn-left" onclick="direcao()">&#10094</button>
    <button class="btn-right" onclick="direcao()">&#10095</button>
  </div>
</section>

<section class="secao-data-jogos champions-page container">
  <div class="partidas">
    <div class="partida-content transition" data-date="17/04">
      <div class="liga">UEFA Europa League</div>
      <div class="partida-data">Quartas-Final 17/04 ° 16:00</div>
      <div class="partida-casa">
        <div class="imagem-xd"></div>
        <h2>Atalanta</h2>
        <div class="placar-tc">1</div>
      </div>
      <div class="partida-visitante">
        <div class="imagem-xd"></div>
        <h2>Bayern Lev</h2>
        <div class="placar-tc">1</div>
      </div>
      <a href="#" class="partida-ver">Ver Partida</a>
      <div class="style-line"></div>
      <div class="partida-status">Fim</div>
    </div>
    <div class="partida-content transition" data-date="17/04">
      <div class="liga">UEFA Europa League</div>
      <div class="partida-data">Quartas-Final 17/04 ° 16:00</div>
      <div class="partida-casa">
        <div class="imagem-xd"></div>
        <h2>Atalanta</h2>
        <div class="placar-tc">1</div>
      </div>
      <div class="partida-visitante">
        <div class="imagem-xd"></div>
        <h2>Bayern Lev</h2>
        <div class="placar-tc">1</div>
      </div>
      <a href="#" class="partida-ver">Ver Partida</a>
      <div class="style-line"></div>
      <div class="partida-status">Fim</div>
    </div>
    <!-- Adicione mais partidas aqui, com data correspondente -->
    <div class="partida-content transition" data-date="09/04">
      <div class="liga">UEFA Europa League</div>
      <div class="partida-data">Quartas-Final 17/04 ° 16:00</div>
      <div class="partida-casa">
        <div class="imagem-xd"></div>
        <h2>Atalanta</h2>
        <div class="placar-tc">1</div>
      </div>
      <div class="partida-visitante">
        <div class="imagem-xd"></div>
        <h2>Bayern Lev</h2>
        <div class="placar-tc">1</div>
      </div>
      <a href="#" class="partida-ver">Ver Partida</a>
      <div class="style-line"></div>
      <div class="partida-status">Fim</div>
    </div>
  </div>
</section>

<section class="partida-datas container">
  <h2 class="titulo-secundario">Champions Noticias</h2>
  <div class="champions-controls">
    <nav class="champions-content noticia-champions  slide-config" id="slide">
      <div class="noticia-secundary">
        <div class="noticia-texto">
          <span>Ultimas Noticias</span>
          <h2>Real Madrid é campeão</h2>
          <p class="noticia-horario">6 Horas atrás</p>
        </div>
        <img src="{{URL}}/resources/img/realmadrid.png" alt="">
      </div>
      <div class="noticia-secundary">
        <div class="noticia-texto">
          <span>Ultimas Noticias</span>
          <h2>Real Madrid é campeão</h2>
          <p class="noticia-horario">6 Horas atrás</p>
        </div>
        <img src="{{URL}}/resources/img/realmadrid.png" alt="">
      </div>
      <div class="noticia-secundary">
        <div class="noticia-texto">
          <span>Ultimas Noticias</span>
          <h2>Real Madrid é campeão</h2>
          <p class="noticia-horario">6 Horas atrás</p>
        </div>
        <img src="{{URL}}/resources/img/realmadrid.png" alt="">
      </div>
      <div class="noticia-secundary">
        <div class="noticia-texto">
          <span>Ultimas Noticias</span>
          <h2>Real Madrid é campeão</h2>
          <p class="noticia-horario">6 Horas atrás</p>
        </div>
        <img src="{{URL}}/resources/img/realmadrid.png" alt="">
      </div>
      <div class="noticia-secundary">
        <div class="noticia-texto">
          <span>Ultimas Noticias</span>
          <h2>Real Madrid é campeão</h2>
          <p class="noticia-horario">6 Horas atrás</p>
        </div>
        <img src="{{URL}}/resources/img/realmadrid.png" alt="">
      </div>
    </nav>
    <button class="btn-left" onclick="direcao(1)">&#10094</button>
    <button class="btn-right" onclick="direcao(2)">&#10095</button>
  </div>
</section>

<section class="container">
  <h2 class="titulo-secundario">Estatísticas</h2>
  <div class="estatisticas-content">
    <div class="estatistica-box">
      <h2>Gols</h2>
      <ul class="top-scorers">
        <li class="top-scorer">
          <div class="left">
            <div class="position">1</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Mbappé</span>
                <span class="team">Paris</span>
              </div>
            </div>
          </div>
          <div class="goals">8</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">1</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Kane</span>
                <span class="team">Bayern</span>
              </div>
            </div>
          </div>
          <div class="goals">8</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">3</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Haaland</span>
                <span class="team">Man City</span>
              </div>
            </div>
          </div>
          <div class="goals">6</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">3</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Griezmann</span>
                <span class="team">Atlético de Madrid</span>
              </div>
            </div>
          </div>
          <div class="goals">6</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">5</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Álvarez</span>
                <span class="team">Man City</span>
              </div>
            </div>
          </div>
          <div class="goals">5</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">5</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Rodrygo</span>
                <span class="team">Real Madrid</span>
              </div>
            </div>
          </div>
          <div class="goals">5</div>
        </li>
      </ul>
    </div>
    <!-- Segunda box -->
    <div class="estatistica-box a">
      <h2>Assistencia</h2>
      <ul class="top-scorers">
        <li class="top-scorer">
          <div class="left">
            <div class="position">1</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Mbappé</span>
                <span class="team">Paris</span>
              </div>
            </div>
          </div>
          <div class="goals">8</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">1</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Kane</span>
                <span class="team">Bayern</span>
              </div>
            </div>
          </div>
          <div class="goals">8</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">3</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Haaland</span>
                <span class="team">Man City</span>
              </div>
            </div>
          </div>
          <div class="goals">6</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">3</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Griezmann</span>
                <span class="team">Atlético de Madrid</span>
              </div>
            </div>
          </div>
          <div class="goals">6</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">5</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Álvarez</span>
                <span class="team">Man City</span>
              </div>
            </div>
          </div>
          <div class="goals">5</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">5</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Rodrygo</span>
                <span class="team">Real Madrid</span>
              </div>
            </div>
          </div>
          <div class="goals">5</div>
        </li>
      </ul>
    </div>
    <!-- Terceira box -->
    <div class="estatistica-box a">
      <h2>Tent. No alvo</h2>
      <ul class="top-scorers">
        <li class="top-scorer">
          <div class="left">
            <div class="position">1</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Mbappé</span>
                <span class="team">Paris</span>
              </div>
            </div>
          </div>
          <div class="goals">8</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">1</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Kane</span>
                <span class="team">Bayern</span>
              </div>
            </div>
          </div>
          <div class="goals">8</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">3</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Haaland</span>
                <span class="team">Man City</span>
              </div>
            </div>
          </div>
          <div class="goals">6</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">3</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Griezmann</span>
                <span class="team">Atlético de Madrid</span>
              </div>
            </div>
          </div>
          <div class="goals">6</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">5</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Álvarez</span>
                <span class="team">Man City</span>
              </div>
            </div>
          </div>
          <div class="goals">5</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">5</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Rodrygo</span>
                <span class="team">Real Madrid</span>
              </div>
            </div>
          </div>
          <div class="goals">5</div>
        </li>
      </ul>
    </div>
    <!-- Quarta box -->
    <div class="estatistica-box a">
      <h2>Precisão de Passe</h2>
      <ul class="top-scorers">
        <li class="top-scorer">
          <div class="left">
            <div class="position">1</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Mbappé</span>
                <span class="team">Paris</span>
              </div>
            </div>
          </div>
          <div class="goals">8</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">1</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Kane</span>
                <span class="team">Bayern</span>
              </div>
            </div>
          </div>
          <div class="goals">8</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">3</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Haaland</span>
                <span class="team">Man City</span>
              </div>
            </div>
          </div>
          <div class="goals">6</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">3</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Griezmann</span>
                <span class="team">Atlético de Madrid</span>
              </div>
            </div>
          </div>
          <div class="goals">6</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">5</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Álvarez</span>
                <span class="team">Man City</span>
              </div>
            </div>
          </div>
          <div class="goals">5</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">5</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Rodrygo</span>
                <span class="team">Real Madrid</span>
              </div>
            </div>
          </div>
          <div class="goals">5</div>
        </li>
      </ul>
    </div>
    <!-- Quinta box -->
    <div class="estatistica-box a">
      <h2>Defesas</h2>
      <ul class="top-scorers">
        <li class="top-scorer">
          <div class="left">
            <div class="position">1</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Mbappé</span>
                <span class="team">Paris</span>
              </div>
            </div>
          </div>
          <div class="goals">8</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">1</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Kane</span>
                <span class="team">Bayern</span>
              </div>
            </div>
          </div>
          <div class="goals">8</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">3</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Haaland</span>
                <span class="team">Man City</span>
              </div>
            </div>
          </div>
          <div class="goals">6</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">3</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Griezmann</span>
                <span class="team">Atlético de Madrid</span>
              </div>
            </div>
          </div>
          <div class="goals">6</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">5</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Álvarez</span>
                <span class="team">Man City</span>
              </div>
            </div>
          </div>
          <div class="goals">5</div>
        </li>
        <li class="top-scorer">
          <div class="left">
            <div class="position">5</div>
            <div class="player-info">
              <div class="trt"></div>
              <div class="details">
                <span class="name">Rodrygo</span>
                <span class="team">Real Madrid</span>
              </div>
            </div>
          </div>
          <div class="goals">5</div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="grupos container">
  <h2 class="titulo-secundario">Grupos</h2>
  <div class="grupo-content">
    <div class="group-container">
      <table class="group-table">
        <thead>
          <tr>
            <th colspan="5">Grupo A </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="imagem-xd"></div>
            </td>
            <td>Bayern</td>
            <td>6</td>
            <td>6</td>
            <td>16</td>
          </tr>
          <tr>
            <td>
              <div class="imagem-xd"></div>
            </td>
            <td>Copenhagen</td>
            <td>6</td>
            <td>0</td>
            <td>8</td>
          </tr>
          <tr>
            <td>
              <div class="imagem-xd">
                </div< /td>
            <td>Galatasaray</td>
            <td>6</td>
            <td>-3</td>
            <td>5</td>
          </tr>
          <tr>
            <td>
              <div class="imagem-xd">
                </div< /td>
            <td>Man United</td>
            <td>6</td>
            <td>-3</td>
            <td>4</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="group-container">
      <table class="group-table">
        <thead>
          <tr>
            <th colspan="5">Grupo A </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="imagem-xd"></div>
            </td>
            <td>Bayern</td>
            <td>6</td>
            <td>6</td>
            <td>16</td>
          </tr>
          <tr>
            <td>
              <div class="imagem-xd"></div>
            </td>
            <td>Copenhagen</td>
            <td>6</td>
            <td>0</td>
            <td>8</td>
          </tr>
          <tr>
            <td>
              <div class="imagem-xd">
                </div< /td>
            <td>Galatasaray</td>
            <td>6</td>
            <td>-3</td>
            <td>5</td>
          </tr>
          <tr>
            <td>
              <div class="imagem-xd">
                </div< /td>
            <td>Man United</td>
            <td>6</td>
            <td>-3</td>
            <td>4</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="group-container">
      <table class="group-table">
        <thead>
          <tr>
            <th colspan="5">Grupo A </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="imagem-xd"></div>
            </td>
            <td>Bayern</td>
            <td>6</td>
            <td>6</td>
            <td>16</td>
          </tr>
          <tr>
            <td>
              <div class="imagem-xd"></div>
            </td>
            <td>Copenhagen</td>
            <td>6</td>
            <td>0</td>
            <td>8</td>
          </tr>
          <tr>
            <td>
              <div class="imagem-xd">
                </div< /td>
            <td>Galatasaray</td>
            <td>6</td>
            <td>-3</td>
            <td>5</td>
          </tr>
          <tr>
            <td>
              <div class="imagem-xd">
                </div< /td>
            <td>Man United</td>
            <td>6</td>
            <td>-3</td>
            <td>4</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="group-container">
      <table class="group-table">
        <thead>
          <tr>
            <th colspan="5">Grupo A </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="imagem-xd"></div>
            </td>
            <td>Bayern</td>
            <td>6</td>
            <td>6</td>
            <td>16</td>
          </tr>
          <tr>
            <td>
              <div class="imagem-xd"></div>
            </td>
            <td>Copenhagen</td>
            <td>6</td>
            <td>0</td>
            <td>8</td>
          </tr>
          <tr>
            <td>
              <div class="imagem-xd">
                </div< /td>
            <td>Galatasaray</td>
            <td>6</td>
            <td>-3</td>
            <td>5</td>
          </tr>
          <tr>
            <td>
              <div class="imagem-xd">
                </div< /td>
            <td>Man United</td>
            <td>6</td>
            <td>-3</td>
            <td>4</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="botao-estatisticas">
      <button>&#10094</button>
      <button>&#10095</button>
    </div>
  </div>
</section>