<div class="bg-padrao"></div>

<section class="partida-datas container">
  <h2 class="titulo-secundario">Europa League</h2>
  <div class="champions-controls">
    <nav class="champions-content slide-config">
      <button class="champions-data-jogos" data-date="13">
        <h3>Final</h3>
      </button>
      <button class="champions-data-jogos" data-date="12">
        <h3>Semi final - Volta</h3>
      </button>
      <button class="champions-data-jogos" data-date="11">
        <h3>Semi final - Ida</h3>
      </button>
      <button class="champions-data-jogos" data-date="10">
        <h3>4ª Final - Volta</h3>
      </button>
      <button class="champions-data-jogos" data-date="9">
        <h3>4ª Final - Ida</h3>
      </button>
      <button class="champions-data-jogos" data-date="8">
        <h3>8ª Final - Volta</h3>
      </button>
      <button class="champions-data-jogos" data-date="7">
        <h3>8ª Final - Ida</h3>
      </button>
      <button class="champions-data-jogos" data-date="6">
        <h3>6ª Rodada</h3>
      </button>
      <button class="champions-data-jogos" data-date="5">
        <h3>5ª Rodada</h3>
      </button>
      <button class="champions-data-jogos" data-date="4">
        <h3>4ª Rodada</h3>
      </button>
      <button class="champions-data-jogos" data-date="3">
        <h3>3ª Rodada</h3>
      </button>
      <button class="champions-data-jogos" data-date="2">
        <h3>2ª Rodada</h3>
      </button>
      <button class="champions-data-jogos" data-date="1">
        <h3>1ª Rodada</h3>
      </button>
    </nav>
    <button class="btn-left" id="prevBtn">&#10094</button>
    <button class="btn-right" id="nextBtn">&#10095</button>
  </div>

  <section class="secao-data-jogos champions-page container">
    <div class="partidas">
      <div class="partida-content transition" data-date="13">
        <div class="liga">UEFA Europa League</div>
        <div class="partida-data">Final ° 16:00</div>
        <div class="partida-casa">
          <div class="imagem-xd"><img class="logo-time" src="https://api.sofascore.app/api/v1/team/2686/image"></div>
          <h2>Atalanta</h2>
          <div class="placar-tc">3</div>
        </div>
        <div class="partida-visitante">
          <div class="imagem-xd"><img class="logo-time" src="https://api.sofascore.app/api/v1/team/2681/image"></div>
          <h2>B. Leverkusen</h2>
          <div class="placar-tc">0</div>
        </div>
        <div class="style-line"></div>
        <div class="partida-status">Fim</div>
      </div>

      <div class="partida-content transition" data-date="12">
        <div class="liga">UEFA Europa League</div>
        <div class="partida-data">Semi-Final ° 16:00</div>
        <div class="partida-casa">
          <div class="imagem-xd"><img class="logo-time" src="https://api.sofascore.app/api/v1/team/2702/image"></div>
          <h2>Roma</h2>
          <div class="placar-tc">2</div>
        </div>
        <div class="partida-visitante">
          <div class="imagem-xd"><img class="logo-time" src="https://api.sofascore.app/api/v1/team/2681/image"></div>
          <h2>B. Leverkusen</h2>
          <div class="placar-tc">2</div>
        </div>
        <div class="style-line"></div>
        <div class="partida-status">Fim</div>
      </div>

      <div class="partida-content transition" data-date="12">
        <div class="liga">UEFA Europa League</div>
        <div class="partida-data">Semi-Final ° 16:00</div>
        <div class="partida-casa">
          <div class="imagem-xd"><img class="logo-time" src="https://api.sofascore.app/api/v1/team/2686/image"></div>
          <h2>Atalanta</h2>
          <div class="placar-tc">3</div>
        </div>
        <div class="partida-visitante">
          <div class="imagem-xd"><img class="logo-time" src="https://api.sofascore.app/api/v1/team/1641/image"></div>
          <h2>Marseille</h2>
          <div class="placar-tc">0</div>
        </div>
        <div class="style-line"></div>
        <div class="partida-status">Fim</div>
      </div>

      <div class="partida-content transition" data-date="11">
        <div class="liga">UEFA Europa League</div>
        <div class="partida-data">Semi-Final ° 16:00</div>
        <div class="partida-casa">
          <div class="imagem-xd"><img class="logo-time" src="https://api.sofascore.app/api/v1/team/1641/image"></div>
          <h2>Marseille</h2>
          <div class="placar-tc">1</div>
        </div>
        <div class="partida-visitante">
          <div class="imagem-xd"><img class="logo-time" src="https://api.sofascore.app/api/v1/team/2686/image"></div>
          <h2>Atalanta</h2>
          <div class="placar-tc">1</div>
        </div>
        <div class="style-line"></div>
        <div class="partida-status">Fim</div>
      </div>

      <div class="partida-content transition" data-date="11">
        <div class="liga">UEFA Europa League</div>
        <div class="partida-data">Semi-Final ° 16:00</div>
        <div class="partida-casa">
          <div class="imagem-xd"><img class="logo-time" src="https://api.sofascore.app/api/v1/team/2681/image"></div>
          <h2>B. Leverkusen</h2>
          <div class="placar-tc">2</div>
        </div>
        <div class="partida-visitante">
          <div class="imagem-xd"><img class="logo-time" src="https://api.sofascore.app/api/v1/team/2702/image"></div>
          <h2>Roma</h2>
          <div class="placar-tc">0</div>
        </div>
        <div class="style-line"></div>
        <div class="partida-status">Fim</div>
      </div>
    </div>
  </section>


  <section class="container">
    <h2 class="titulo-secundario">Estatísticas</h2>
    <div class="estatisticas-content">
      <div class="estatistica-box-el">
        <h2>Gols</h2>
        <ul class="top-scorers">
          <li class="top-scorer-el">
            <div class="left">
              <div class="position">1</div>
              <div class="player-info">
                <div class="trt"><img src="https://api.sofascore.app/api/v1/player/51498/image" alt="jogador"></div>
                <div class="details">
                  <span class="name">Aubameyang</span>
                  <span class="team">Marseille</span>
                </div>
              </div>
            </div>
            <div class="goals">10</div>
          </li>
          <li class="top-scorer-el">
            <div class="left">
              <div class="position">1</div>
              <div class="player-info">
                <div class="trt"><img src="https://api.sofascore.app/api/v1/player/78893/image" alt="jogador"></div>
                <div class="details">
                  <span class="name">Lukaku</span>
                  <span class="team">Roma</span>
                </div>
              </div>
            </div>
            <div class="goals">7</div>
          </li>
          <li class="top-scorer-el">
            <div class="left">
              <div class="position">3</div>
              <div class="player-info">
                <div class="trt"><img src="https://api.sofascore.app/api/v1/player/975079/image" alt="jogador"></div>
                <div class="details">
                  <span class="name">João Pedro</span>
                  <span class="team">Brighton</span>
                </div>
              </div>
            </div>
            <div class="goals">6</div>
          </li>
          <li class="top-scorer-el">
            <div class="left">
              <div class="position">3</div>
              <div class="player-info">
                <div class="trt"><img src="https://api.sofascore.app/api/v1/player/807301/image" alt="jogador"></div>
                <div class="details">
                  <span class="name">Scamacca</span>
                  <span class="team">Atalanta</span>
                </div>
              </div>
            </div>
            <div class="goals">6</div>
          </li>
          <li class="top-scorer-el">
            <div class="left">
              <div class="position">5</div>
              <div class="player-info">
                <div class="trt"><img src="https://api.sofascore.app/api/v1/player/905163/image" alt="jogador"></div>
                <div class="details">
                  <span class="name">Kudus</span>
                  <span class="team">Whest Ham</span>
                </div>
              </div>
            </div>
            <div class="goals">5</div>
          </li>
          <li class="top-scorer-el">
            <div class="left">
              <div class="position">5</div>
              <div class="player-info">
                <div class="trt"><img src="https://api.sofascore.app/api/v1/player/159665/image" alt="jogador"></div>
                <div class="details">
                  <span class="name">Salah</span>
                  <span class="team">Liverpool</span>
                </div>
              </div>
            </div>
            <div class="goals">5</div>
          </li>
        </ul>
      </div>

      <!-- Segunda box -->
      <div class="estatistica-box-el a">
        <h2>Assistencia</h2>
        <ul class="top-scorers">
          <li class="top-scorer-el">
            <div class="left">
              <div class="position">1</div>
              <div class="player-info">
                <div class="trt"><img src="https://api.sofascore.app/api/v1/player/827522/image" alt=""></div>
                <div class="details">
                  <span class="name">Harit</span>
                  <span class="team">Marseille</span>
                </div>
              </div>
            </div>
            <div class="goals">6</div>
          </li>
          <li class="top-scorer-el">
            <div class="left">
              <div class="position">1</div>
              <div class="player-info">
                <div class="trt"><img src="https://api.sofascore.app/api/v1/player/821728/image" alt=""></div>
                <div class="details">
                  <span class="name">Clauss</span>
                  <span class="team">Marseille</span>
                </div>
              </div>
            </div>
            <div class="goals">6</div>
          </li>
          <li class="top-scorer-el">
            <div class="left">
              <div class="position">3</div>
              <div class="player-info">
                <div class="trt"><img src="https://api.sofascore.app/api/v1/player/115577/image" alt="jogador"></div>
                <div class="details">
                  <span class="name">Fortounis</span>
                  <span class="team">Olympiacos FC</span>
                </div>
              </div>
            </div>
            <div class="goals">5</div>
          </li>
          <li class="top-scorer-el">
            <div class="left">
              <div class="position">3</div>
              <div class="player-info">
                <div class="trt"><img src="https://api.sofascore.app/api/v1/player/45925/image" alt="jogador"></div>
                <div class="details">
                  <span class="name">El Shaarawy</span>
                  <span class="team">Roma</span>
                </div>
              </div>
            </div>
            <div class="goals">5</div>
          </li>
          <li class="top-scorer-el">
            <div class="left">
              <div class="position">4</div>
              <div class="player-info">
                <div class="trt"><img src="https://api.sofascore.app/api/v1/player/1019322/image" alt=""></div>
                <div class="details">
                  <span class="name">Florian Wirtz</span>
                  <span class="team">Leverkusen</span>
                </div>
              </div>
            </div>
            <div class="goals">4</div>
          </li>
          <li class="top-scorer-el">
            <div class="left">
              <div class="position">5</div>
              <div class="player-info">
                <div class="trt"><img src="https://api.sofascore.app/api/v1/player/955245/image" alt=""></div>
                <div class="details">
                  <span class="name">Elliot</span>
                  <span class="team">Liverpool</span>
                </div>
              </div>
            </div>
            <div class="goals">4</div>
          </li>
        </ul>
      </div>
      <!-- Quinta box -->
      <div class="estatistica-box-el a">
        <h2>Defesas (Goleiros)</h2>
        <ul class="top-scorers">
          <li class="top-scorer-el">
            <div class="left">
              <div class="position">1</div>
              <div class="player-info">
                <div class="trt"><img src="https://api.sofascore.app/api/v1/player/793986/image" alt=""></div>
                <div class="details">
                  <span class="name">Svilar</span>
                  <span class="team">Roma</span>
                </div>
              </div>
            </div>
            <div class="goals">54 def</div>
          </li>
          <li class="top-scorer-el">
            <div class="left">
              <div class="position">1</div>
              <div class="player-info">
                <div class="trt"><img src="https://api.sofascore.app/api/v1/player/120787/image" alt=""></div>
                <div class="details">
                  <span class="name">Lunev</span>
                  <span class="team">Qarabağ</span>
                </div>
              </div>
            </div>
            <div class="goals">43 def</div>
          </li>
          <li class="top-scorer-el">
            <div class="left">
              <div class="position">3</div>
              <div class="player-info">
                <div class="trt"><img src="https://api.sofascore.app/api/v1/player/927366/image" alt=""></div>
                <div class="details">
                  <span class="name">Kovar</span>
                  <span class="team">Leverkusen</span>
                </div>
              </div>
            </div>
            <div class="goals">41 def</div>
          </li>
          <li class="top-scorer-el">
            <div class="left">
              <div class="position">3</div>
              <div class="player-info">
                <div class="trt"><img src="https://api.sofascore.app/api/v1/player/548848/image" alt=""></div>
                <div class="details">
                  <span class="name">Pau López</span>
                  <span class="team">Marseille</span>
                </div>
              </div>
            </div>
            <div class="goals">41 def</div>
          </li>
          <li class="top-scorer-el">
            <div class="left">
              <div class="position">5</div>
              <div class="player-info">
                <div class="trt"><img src="https://api.sofascore.app/api/v1/player/814180/image" alt=""></div>
                <div class="details">
                  <span class="name">Vindahl Jensen</span>
                  <span class="team">Sparta Praha</span>
                </div>
              </div>
            </div>
            <div class="goals">36 def</div>
          </li>
          <li class="top-scorer-el">
            <div class="left">
              <div class="position">5</div>
              <div class="player-info">
                <div class="trt"><img src="https://api.sofascore.app/api/v1/player/15479/image" alt=""></div>
                <div class="details">
                  <span class="name">Fabiański</span>
                  <span class="team">Whest Ham</span>
                </div>
              </div>
            </div>
            <div class="goals">30 def</div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="grupos container">
    <h2 class="titulo-secundario">Grupos</h2>
    <div class="grupo-content">
      <div class="group-container">
        <table class="group-table">
          <thead>
            <tr>
              <th colspan="5">Grupo A </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="imagem-xd"><img class="logo-time" src="https://api.sofascore.app/api/v1/team/37/image"></div>
              </td>
              <td>West Ham</td>
              <td>6</td>
              <td>6</td>
              <td>15</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/2538/image" alt=""></div>
              </td>
              <td>Freiburg</td>
              <td>6</td>
              <td>10</td>
              <td>12</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/3061/image" alt=""></div>
              </td>
              <td>Olympiacos</td>
              <td>6</td>
              <td>-3</td>
              <td>7</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/263360/image" alt=""></div>
              </td>
              <td>TSC</td>
              <td>6</td>
              <td>-13</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="group-container">
        <table class="group-table">
          <thead>
            <tr>
              <th colspan="5">Grupo B </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/30/image" alt=""></div>
              </td>
              <td>Brighton</td>
              <td>6</td>
              <td>5</td>
              <td>13</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/1641/image" alt=""></div>
              </td>
              <td>Marseille</td>
              <td>6</td>
              <td>4</td>
              <td>11</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/2953/image" alt=""></div>
              </td>
              <td>Ajax</td>
              <td>6</td>
              <td>-3</td>
              <td>5</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/3250/image" alt="">
                </div>
              </td>
              <td>AEK</td>
              <td>6</td>
              <td>-6</td>
              <td>4</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="group-container">
        <table class="group-table">
          <thead>
            <tr>
              <th colspan="5">Grupo C </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/2351/image" alt=""></div>
              </td>
              <td>Rangers</td>
              <td>6</td>
              <td>2</td>
              <td>11</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/2218/image" alt=""></div>
              </td>
              <td>Sparta Praha</td>
              <td>6</td>
              <td>2</td>
              <td>10</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/2816/image" alt="">
                </div>
              </td>
              <td>Betis</td>
              <td>6</td>
              <td>2</td>
              <td>9</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/3397/image" alt="">
                </div>
              </td>
              <td>Aris</td>
              <td>6</td>
              <td>-6</td>
              <td>4</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="group-container">
        <table class="group-table">
          <thead>
            <tr>
              <th colspan="5">Grupo D </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/2686/image" alt=""></div>
              </td>
              <td>Atalanta</td>
              <td>6</td>
              <td>8</td>
              <td>14</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/3001/image" alt=""></div>
              </td>
              <td>Sporting</td>
              <td>6</td>
              <td>4</td>
              <td>11</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/2051/image" alt="">
                </div>
              </td>
              <td>Sturm</td>
              <td>6</td>
              <td>-5</td>
              <td>4</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/35268/image" alt="">
                </div>
              </td>
              <td>Raków</td>
              <td>6</td>
              <td>-7</td>
              <td>4</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="group-container">
        <table class="group-table">
          <thead>
            <tr>
              <th colspan="5">Grupo E </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/44/image" alt=""></div>
              </td>
              <td>Liverpool</td>
              <td>6</td>
              <td>10</td>
              <td>12</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/1681/image" alt=""></div>
              </td>
              <td>Toulouse</td>
              <td>6</td>
              <td>-1</td>
              <td>11</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/4860/image" alt="">
                </div>
              </td>
              <td>USG</td>
              <td>6</td>
              <td>-3</td>
              <td>8</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/2058/image" alt="">
                </div>
              </td>
              <td>LASK</td>
              <td>6</td>
              <td>-6</td>
              <td>3</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="group-container">
        <table class="group-table">
          <thead>
            <tr>
              <th colspan="5">Grupo F </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/2819/image" alt=""></div>
              </td>
              <td>Villarreal</td>
              <td>6</td>
              <td>2</td>
              <td>13</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/1658/image" alt=""></div>
              </td>
              <td>Rennes</td>
              <td>6</td>
              <td>7</td>
              <td>12</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/5197/image" alt="">
                </div>
              </td>
              <td>M. Haifa</td>
              <td>6</td>
              <td>-6</td>
              <td>5</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/3248/image" alt="">
                </div>
              </td>
              <td>Panathinaikos</td>
              <td>6</td>
              <td>-3</td>
              <td>4</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="group-container">
        <table class="group-table">
          <thead>
            <tr>
              <th colspan="5">Grupo G </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/2216/image" alt=""></div>
              </td>
              <td>Slavia Praha</td>
              <td>6</td>
              <td>13</td>
              <td>15</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/2702/image" alt=""></div>
              </td>
              <td>Roma</td>
              <td>6</td>
              <td>8</td>
              <td>13</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/2448/image" alt="">
                </div>
              </td>
              <td>Servette</td>
              <td>6</td>
              <td>-9</td>
              <td>5</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/5173/image" alt="">
                </div>
              </td>
              <td>Sherif</td>
              <td>6</td>
              <td>-12</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="group-container">
        <table class="group-table">
          <thead>
            <tr>
              <th colspan="5">Grupo H </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/2681/image" alt=""></div>
              </td>
              <td>Leverkusen</td>
              <td>6</td>
              <td>16</td>
              <td>18</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/5962/image" alt=""></div>
              </td>
              <td>Qarabağ</td>
              <td>6</td>
              <td>-2</td>
              <td>10</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/661/image" alt="">
                </div>
              </td>
              <td>Molde</td>
              <td>6</td>
              <td>0</td>
              <td>7</td>
            </tr>
            <tr>
              <td>
                <div class="imagem-xd"><img src="https://api.sofascore.app/api/v1/team/1760/image" alt="">
                </div>
              </td>
              <td>Hacken</td>
              <td>6</td>
              <td>-14</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="botao-estatisticas">
        <button onclick="direcao(1)">&#10094</button>
        <button onclick="direcao(2)">&#10095</button>
      </div>
    </div>
  </section>