<div class="bg-padrao"></div>

<div class="slide">
  <div class="carrossel">
    <div class="carrossel-content">
      <div class="carrossel-content">
        <img src="{{URL}}/resources/img/bg.jpg" alt="">
        <div class="imagem-info">
          <h2>Entenda tudo oque aconteceu nas semi-finais da ucl.</h2>
          <a href="/">Ver Mais</a>
        </div>
      </div>
      <div class="carrossel-content">
        <img src="{{URL}}/resources/img/carrossel01.png" alt="">
        <div class="imagem-info">
          <h2>O Real Madrid comemora o 36° titulo da Laliga em Cibeles.</h2>
          <a href="/">Ver Mais</a>
        </div>
      </div>
      <div class="carrossel-content">
        <img src="{{URL}}/resources/img/bg.jpg" alt="">
        <div class="imagem-info">
          <h2>Entenda tudo oque aconteceu nas semi-finais da ucl.</h2>
          <a href="/">Ver Mais</a>
        </div>
      </div>
    </div>
  </div>
  <button class="carrossel-button" id="previousSlide">&#10094</button>
  <button class="carrossel-button" id="nextSlide">&#10095</button>
  <div class="dots-content">
    <div class="dot active" attr="0"></div>
    <div class="dot" attr="1"></div>
    <div class="dot" attr="2"></div>
  </div>
</div>


<section class="container">
  <h2 class="titulo-secundario">Ultimas Notícias</h2>
  <div class="partidas">
    <div class="partida-content">
      <div class="liga">UEFA Europa League</h3>
      </div>
      <div class="partida-data">Final <span>|</span> ° 16:00</div>
      <div class="partida-casa">
        <div class="imagem-xd"></div>
        <h2>Atalanta</h2>
      </div>
      <div class="partida-visitante">
        <div class="imagem-xd"></div>
        <h2>Bayern Lev</h2>
      </div>
      <a href="#" class="partida-ver">Ver Partida</a>
    </div>
    <div class="partida-content">
      <div class="liga">UEFA Europa League</h3>
      </div>
      <div class="partida-data">Final <span>|</span> ° 16:00</div>
      <div class="partida-casa">
        <div class="imagem-xd"></div>
        <h2>Atalanta</h2>
      </div>
      <div class="partida-visitante">
        <div class="imagem-xd"></div>
        <h2>Bayern Lev</h2>
      </div>
      <a href="#" class="partida-ver">Ver Partida</a>
    </div>
    <div class="partida-content">
      <div class="liga">UEFA Europa League</h3>
      </div>
      <div class="partida-data">Final <span>|</span> ° 16:00</div>
      <div class="partida-casa">
        <div class="imagem-xd"></div>
        <h2>Atalanta</h2>
      </div>
      <div class="partida-visitante">
        <div class="imagem-xd"></div>
        <h2>Bayern Lev</h2>
      </div>
      <a href="#" class="partida-ver">Ver Partida</a>
    </div>
    <div class="partida-content">
      <div class="liga">UEFA Europa League</h3>
      </div>
      <div class="partida-data">Final <span>|</span> ° 16:00</div>
      <div class="partida-casa">
        <div class="imagem-xd"></div>
        <h2>Atalanta</h2>
      </div>
      <div class="partida-visitante">
        <div class="imagem-xd"></div>
        <h2>Bayern Lev</h2>
      </div>
      <a href="#" class="partida-ver">Ver Partida</a>
    </div>
  </div>
</section>

<section class="container">
  <h2 class="titulo-secundario">Ultimas Notícias</h2>
  <div class="noticias">
    <div class="noticia-main">
      <div class="info">
        <h2>Foden Eleito melhor da premier league</h2>
        <p class="noticia-horario">Há 2 Horas</p>
      </div>
    </div>
    <div class="ultimas-noticias">
      <div class="noticia-secundary">
        <div class="noticia-texto">
          <span>Ultimas Noticias</span>
          <h2>Real Madrid é campeão</h2>
          <p class="noticia-horario">6 Horas atrás</p>
        </div>
        <img src="{{URL}}/resources/img/realmadrid.png" alt="">
      </div>
      <div class="noticia-secundary">
        <div class="noticia-texto">
          <span>Ultimas Noticias</span>
          <h2>Real Madrid é campeão</h2>
          <p class="noticia-horario">6 Horas atrás</p>
        </div>
        <img src="{{URL}}/resources/img/realmadrid.png" alt="">
      </div>
      <div class="noticia-secundary">
        <div class="noticia-texto">
          <span>Ultimas Noticias</span>
          <h2>Real Madrid é campeão</h2>
          <p class="noticia-horario">6 Horas atrás</p>
        </div>
        <img src="{{URL}}/resources/img/realmadrid.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="jogadores-section container">
  <h2 class="titulo-padrao">O melhor do futebol europeu</h2>
  <div class="jogadores-cards">
    <div class="jogadores-content effect01">
      <a href="#" class="jogador-img"><img src="{{URL}}/resources/img/melhorjg1.png" alt=""></a>
      <img class="cards-liga" src="{{URL}}/resources/img/card1.png" alt="">
    </div>
    <div class="jogadores-content effect02">
      <a href="#" class="jogador-img"><img src="{{URL}}/resources/img/melhorjg2.png" alt=""></a>
      <img class="cards-liga" src="{{URL}}/resources/img/card2.png" alt="">
    </div>
    <div class="jogadores-content effect03">
      <a href="#" class="jogador-img"><img src="{{URL}}/resources/img/melhorjg3.png" alt=""></a>
      <img class="cards-liga" src="{{URL}}/resources/img/card3.png" alt="">
    </div>
  </div>
</section>

<section class="melhores-momentos container">
</section>