<section class="page-notice">
  <div class="page-notice-content-principal">
    <div class="page-notice-main ">
      <div class="notice-text-content container">
        <h2 class="notice-title">Endrick salva Seleção Brasileira de empate em amistoso contra México</h2>
        <p class="notice-primary-text">Endrick se juntou a Pelé como os únicos jogadores a marcarem em três jogos seguidos pela seleção brasileira com menos de 18 anos</p>
      </div>
    </div>
    <div class="content-notice-01">
      <h2 class="notice-title">Endrick decide</h2>
      <p class="notice-primary-text">O Brasil venceu o México por 3 a 2 neste sábado (8) em amistoso preparatório para a Copa América que teve emoção até o fim. Endrick mostrou o motivo da torcida do Palmeiras amá-lo e decidiu o confronto. </p>
      <div class="notice-image"><img src="{{URL}}/resources/img/notice-primary.jpg" alt=""></div>
      <p class="notice-primary-text">No Estádio Kyle Field, em College Station, nos Estados Unidos, Andreas Pereira e Gabriel Martinelli fizeram 2 a 0 para o Brasil. Quiñones e Guillermo Martínez empataram para a Seleção Mexicana. Nos acréscimos, Endrick fez o gol da vitória brasileira.</p>
      <p class="notice-primary-text">Apesar disso, a aguardada estreia de Endrick entre os titulares não aconteceu, o atacante começou entre os reservas e entrou no segundo tempo para resolver. Ele já não atuará mais com a camisa do Palmeiras. </p>
      <h2 class="notice-title">Dorival segura emoção</h2>
      <p class="notice-primary-text">Endrick se juntou a Pelé como os únicos jogadores a marcarem em três jogos seguidos pela seleção brasileira com menos de 18 anos. As comparações com o Rei do Futebol são inevitáveis, mas Dorival pede cautela. </p>
      <p class="notice-primary-text">“É um fator importante, vai passando confiança ao atleta. Nós temos que ter calma e paciência, sem comparações em relação a um nome ou outro. Ele tem que se fazer por si próprio, tem que buscar o seu espaço, e é isso que vem acontecendo. Com calma, vamos ter muito cuidado com esse garoto”, disse o treinador.</p>
      <div class="postado-notice">
        <span class="notice-secundary-time">2 días atrás</span>
        <span class="notice-secundary-time">Por <strong>Fabiana Meireles</strong></span>
      </div>
    </div>
  </div>
  <div class="page-notice-popups">
    <div class="titulo-secundario">Noticias mais recentes</div>
    <div class="popup">
      <p class="pop-title">Dudu no Flamengo? Braz se pronuncia sobre chance de entrar na</p>
      <span class="pop-span">Coluna Do Fla</span>
    </div>
    <div class="popup">
      <p class="pop-title">Dudu diz que vai ficar no Palmeiras, e Cruzeiro retira proposta</p>
      <span class="pop-span">Jogada10</span>
    </div>
    <div class="popup">
      <p class="pop-title">Palmeiras: Dudu se pronuncia pela primeira vez após polêmica com Cruzeiro
        Palmeiras Online</p>
      <span class="pop-span">Palmeiras Online</span>
    </div>
  </div>
</section>