<section class="notice-page">
  <div class="notice-content container">
    <h2 class="titulo-secundario">Noticias</h2>
    <div class="notice-primary">
      <div class="notice-primary-image"><a href="{{URL}}/noticias/01"><img src="{{URL}}/resources/img/notice-primary.jpg" alt=""></a></div>
      <div class="notice-primary-content">
        <h2 class="notice-primary-title">JÓIA DO PALMEIRAS DECIDE<br>
          MAIS UMA VEZ</h2>
        <p class="notice-primary-text">Endrick ex-Palmeiras decide mais uma vez em
          amistoso pela seleção brasileira, dessa vez contra
          a forte seleção mexicana...</p>
        <span class="notice-primary-time">Há 7 horas</span>
      </div>
    </div>
    <div class="notices-secundary">
      <div class="notice-secundary">
        <div class="notice-secundary-image"><img src="{{URL}}/resources/img/notice-secundary01.jpg" alt=""></div>
        <div class="notice-secundary-content">
          <h2 class="notice-secundary-title">Vinicius faz história<br>
            mais uma vez!</h2>
          <span class="notice-secundary-time">3 dias atrás</span>
        </div>
      </div>
      <div class="notice-secundary">
        <div class="notice-secundary-image"><img src="{{URL}}/resources/img/notice-secundary02.jpg" alt=""></div>
        <div class="notice-secundary-content">
          <h2 class="notice-secundary-title">Kroos se despede do<br>Real Madrid</h2>
          <span class="notice-secundary-time">4 dias atrás</span>
        </div>
      </div>
      <div class="notice-secundary">
        <div class="notice-secundary-image"><img src="{{URL}}/resources/img/notice-secundary03.jpg" alt=""></div>
        <div class="notice-secundary-content">
          <h2 class="notice-secundary-title">Modric renova com o Real Madrid</h2>
          <span class="notice-secundary-time">2 dias atrás</span>
        </div>
      </div>
    </div>
  </div>
  <a href="{{URL}}/noticias/01"></a>
  <!-- <div class="notice-content container">
    <div class="notice-primary">
      <div class="notice-primary-image"><img src="{{URL}}/resources/img/notice-primary.jpg" alt=""></div>
      <div class="notice-primary-content">
        <h2 class="notice-primary-title">JÓIA DO PALMEIRAS DECIDE<br>
          MAIS UMA VEZ</h2>
        <p class="notice-primary-text">Endrick ex-Palmeiras decide mais uma vez em
          amistoso pela seleção brasileira, dessa vez contra
          a forte seleção mexicana...</p>
        <span class="notice-primary-time">Há 7 horas</span>
      </div>
    </div>
    <div class="notices-secundary">
      <div class="notice-secundary">
        <div class="notice-secundary-image"><img src="{{URL}}/resources/img/notice-secundary01.jpg" alt=""></div>
        <div class="notice-secundary-content">
          <h2 class="notice-secundary-title">VINICIUS FAZ HISTÓRIA<br>
            MAIS UMA VEZ!</h2>
          <span class="notice-secundary-time">3 días atrás</span>
        </div>
      </div>
      <div class="notice-secundary">
        <div class="notice-secundary-image"><img src="{{URL}}/resources/img/notice-secundary02.jpg" alt=""></div>
        <div class="notice-secundary-content">
          <h2 class="notice-secundary-title">KROOS SE DESPEDE DO
            REAL MADRID</h2>
          <span class="notice-secundary-time">4 días atrás</span>
        </div>
      </div>
      <div class="notice-secundary">
        <div class="notice-secundary-image"><img src="{{URL}}/resources/img/notice-secundary03.jpg" alt=""></div>
        <div class="notice-secundary-content">
          <h2 class="notice-secundary-title">MODRIC RENOVA COM O
            CLUBE MERENGUE</h2>
          <span class="notice-secundary-time">2 días atrás</span>
        </div>
      </div>
    </div>
  </div> -->
</section>