<?php require_once BASE_PATH . 'app/Views/partials/header.php'; ?>


<div class="background-usuario">
</div>

<div class="container">
  <main class="usuario-logado">
    <section class="usuario-menu">
      <div class="box-usuario">
        <div class="usuario-nome-content">
          <h3 class="usuario-text">Seja Bem-Vindo</h3>
          <h2 class="usuario-nome">Nome Usuario</h2>
        </div>
        <div class="opcoes-menu">
          <div class="menu-opcao">
            <h2>Meu Perfil</h2>
            <span>&#10095</span>
          </div>
          <div class="menu-opcao">
            <h2>Meus Favoritos</h2>
            <span>&#10095</span>
          </div>
          <div class="menu-opcao">
            <h2>Sair</h2>
            <span>&#10095</span>
          </div>
        </div>
      </div>
    </section>
    <section class="menu">
      <div class="meu-perfil-content">
        <h3>Detalhes do Perfil</h3>
        <div class="input-prev"></div>
        <div class="input-prev"></div>
        <div class="input-prev"></div>
        <button class="botao-perfil">Salvar</button>
      </div>
    </section>
  </main>
</div>

<?php require_once BASE_PATH . 'app/Views/partials/footer.php'?>